apiVersion: apps/v1beta1
kind: Deployment
metadata:
  labels:
    app: koa-backend
  name: koa-backend
  namespace: default
spec:
  selector:
    matchLabels:
      app: koa-backend
      version: v1
  template:
    metadata:
      labels:
        app: koa-backend
        version: v1
    spec:
      containers:
        - name: koa-backend
          image: gcr.io/hov90901/koa-backend:latest
          ports:
            - containerPort: 80
